USE [RestaurantDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26.12.2022 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodItems]    Script Date: 26.12.2022 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[ItemCategory] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.FoodItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 26.12.2022 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 26.12.2022 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[PickupDate] [datetime] NOT NULL,
	[TotalPrice] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26.12.2022 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.12.2022 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[BirthDay] [datetime] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodItems] ON 

INSERT [dbo].[FoodItems] ([Id], [Name], [Quantity], [UnitPrice], [ItemCategory], [IsActive], [IsDelete]) VALUES (1, N'Hamburger', 1, 15, N'Burger', 1, 0)
INSERT [dbo].[FoodItems] ([Id], [Name], [Quantity], [UnitPrice], [ItemCategory], [IsActive], [IsDelete]) VALUES (2, N'Pizza', 5, 75, N'FastFood', 1, 0)
INSERT [dbo].[FoodItems] ([Id], [Name], [Quantity], [UnitPrice], [ItemCategory], [IsActive], [IsDelete]) VALUES (3, N'Ice Cream', 10, 15, N' Sweet', 1, 0)
SET IDENTITY_INSERT [dbo].[FoodItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Price], [StartDate], [EndDate], [FoodItemId], [IsActive], [IsDelete]) VALUES (1, 150, CAST(N'2022-12-23T00:00:00.000' AS DateTime), CAST(N'2022-12-24T00:00:00.000' AS DateTime), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderDate], [UserId], [FoodItemId], [Quantity], [UnitPrice], [PickupDate], [TotalPrice], [IsActive], [IsDelete]) VALUES (1, CAST(N'2022-12-23T00:00:00.000' AS DateTime), 1, 1, 2, 50, CAST(N'2022-12-24T00:00:00.000' AS DateTime), 60, 1, 1)
INSERT [dbo].[Orders] ([Id], [OrderDate], [UserId], [FoodItemId], [Quantity], [UnitPrice], [PickupDate], [TotalPrice], [IsActive], [IsDelete]) VALUES (2, CAST(N'2022-12-24T00:00:00.000' AS DateTime), 1, 1, 2, 100, CAST(N'2022-12-24T00:00:00.000' AS DateTime), 30, 1, 1)
INSERT [dbo].[Orders] ([Id], [OrderDate], [UserId], [FoodItemId], [Quantity], [UnitPrice], [PickupDate], [TotalPrice], [IsActive], [IsDelete]) VALUES (3, CAST(N'2022-12-23T00:00:00.000' AS DateTime), 1, 1, 2, 100, CAST(N'2022-12-23T00:00:00.000' AS DateTime), 200, 1, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [IsActive], [IsDelete]) VALUES (1, N'Admin', 1, 0)
INSERT [dbo].[Roles] ([Id], [Name], [IsActive], [IsDelete]) VALUES (2, N'Chef', 1, 0)
INSERT [dbo].[Roles] ([Id], [Name], [IsActive], [IsDelete]) VALUES (3, N'User', 1, 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Surname], [Email], [BirthDay], [UserName], [Password], [Phone], [RoleId], [Name], [IsActive], [IsDelete]) VALUES (1, N'Oransoy', N'muratoransoy@hotmail.com', CAST(N'2001-09-15T00:00:00.000' AS DateTime), N'Murat22', N'murat123', N'05428467654', 1, N'Murat', 1, 0)
INSERT [dbo].[Users] ([Id], [Surname], [Email], [BirthDay], [UserName], [Password], [Phone], [RoleId], [Name], [IsActive], [IsDelete]) VALUES (2, N'Oransoy', N'emirok@hotmail.com', CAST(N'2022-12-02T00:00:00.000' AS DateTime), N'Emir22', N'emir123', N'05847563214', 2, N'Emir', 1, 0)
INSERT [dbo].[Users] ([Id], [Surname], [Email], [BirthDay], [UserName], [Password], [Phone], [RoleId], [Name], [IsActive], [IsDelete]) VALUES (3, N'Öztürk', N'fatmaozturk@hotmail.com', CAST(N'2022-12-15T00:00:00.000' AS DateTime), N'fatma17', N'fatma123', N'0589647512', 3, N'Fatma', 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menus_dbo.FoodItems_FoodItemId] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_dbo.Menus_dbo.FoodItems_FoodItemId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.FoodItems_FoodItemId] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.FoodItems_FoodItemId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
